!!!
%html
  %head
    %meta{ charset: "UTF-8" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
    %meta( http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" )

    %title= data.global.title
    = stylesheet_link_tag 'site'
    = stylesheet_link_tag 'desktop', media: 'screen and (min-width: 640px)'

  %body
    = yield
