.row.align-center
  %h1.title Kathy & Steven
  %p.body
    <a href="/link-to-ical-event">Aug 20th in Atlanta, Ga</a>
  %p.body
    [X days to go]

  %h2.heading The Details
  %p.body
    Saturday August 20th, 2016<br/>
    5:00pm<br/>
    Attire: XX

.row
  .col.span1of2
    %img{ src: 'http://placehold.it/640x400/FFE2AD/FFE2AD' }
  .col.span1of2
    %p.body
      Venue: <a href="/maps-link">Cator Woolford Gardens</a><br/>
      1815 S Ponce De Leon Ave NE, Atlanta, GA 30307
    %p.body
      Some words about the wedding and ceremony being at the same venue


  %h2.heading RSVP
  %p.body TODO: hook up a google form w/ spreadsheet
