---
title: It is decided - Aug 20, 2016
---

.wrapper
  .row.align-center
    %p.i.body.mtb0
      Kathy & Steven
    .hr
    %h1.super_title
      %a{ href: 'https://www.youtube.com/watch?v=iDxZ1qMeSA0' } It Is Decided!
    .hr
    %p.i.body.mtb0
      Aug 20th in Atlanta, Ga
