---
title: Kathy & Steven | August 20th, 2016
---

#header{ style: 'background-image: url(/assets/images/header.jpg);' }
  .row
    .col.span1of1.center
      %h1.title.mtb0 Kathy & Steven
      %p.body.i
        are getting married <span id="days_till_wedding"></span>

.row
  .col.span1of1.center
    .hr
    %h2.heading When
    .hr

.row
  .col.span1of2.middle.center
    %p.body August 20th, 2016
    %p.subheading.mb0 The Ceremony
    %p.body.mt0.mb3 @ 5:00 pm
    %p.subheading.mb0 The Reception
    %p.body.mt0.mb3 @ 6:30 pm
  .col.span1of2.middle
    %img{ src: '/assets/images/other.jpg' }

.row
  .col.span1of1.center
    .hr
    %h2.heading Where
    .hr

.row
  .col.span1of2.middle
    %a{ href: 'https://goo.gl/maps/kxT9vZc7oFp' }
      %img{ src: 'https://maps.googleapis.com/maps/api/staticmap?center=33.768625,-84.3396137&zoom=13&size=800x400&scale=2&markers=color:red%7C33.768625,-84.3296137&maptype=roadmap&key=AIzaSyDGFV5zBT_WvJIOOa_gL8TR_eWFDO0xiWE' }
  .col.span1of2.middle
    %a.secret{ href: 'http://www.frazercenter.org/' }
      %h3.subheading.mb0 Frazer Center
    %p.body.mt0
      1815 S Ponce De Leon Ave NE,
      %br
      Atlanta, GA 30307

    .block.span2of3
      %p.body
        The ceremony will take place in the Cator Woolford Gardens, followed shortly by the reception up the hill at the Frazer Center.

.row
.hr
.row
  .col.span1of1.center
    %p.body Photos by <a href="http://lesleykerr.com/">Lesley Kerr</a>


%script{ type: 'text/javascript' }
  :plain
    var today = new Date();
    var wedding = new Date(2016, 7, 20);

    var days_to_wedding = Math.round((wedding - today) * (1/60) * (1/60) * (1/24) * 1/1000);

    var days_to_wedding_div = document.getElementById('days_till_wedding');
    days_to_wedding_div.innerHTML = "in " + days_to_wedding + " days";
