---
title: Kathy & Steven | August 20th, 2016
---

#nav
  .nav-primary
    %a{ href: "#section-when" } When
    %a{ href: "#section-where" } Where
  .nav-secondary
    %a{ href: "#section-registry" } Registry

#header
  .row
    .col.span1of1.center
      %h1.title.mtb0 Kathy & Steven
      %p.body.i
        are getting married <span id="days_till_wedding"></span>
  .header-img

.row#section-when
  .col.span1of1.center
    .hr
    %h2.heading When
    .hr

.row
  .col.span1of2.middle.center
    %p.body August 20th, 2016
    %p.subheading.mb0 Ceremony
    %p.body.mt0.mb3 4:30 pm in the Cator Woolford Gardens
    %p.subheading.mb0 Reception
    %p.body.mt0.mb3 6:30 pm at the atrium of the Frazer Center
  .col.span1of2.middle
    %img{ src: '/assets/images/other.jpg' }

.row#section-where
  .col.span1of1.center
    .hr
    %h2.heading Where
    .hr

.row
  .col.span1of2.middle
    %a{ href: 'https://goo.gl/maps/kxT9vZc7oFp' }
      %img{ src: map_url }
  .col.span1of2.middle.center
    %p.body.i.mb2 Venue
    %a.secret{ href: 'http://www.frazercenter.org/' }
      %h3.subheading.mt0.mb0 Frazer Center
    %p.body.mt0.mb6
      1815 S Ponce De Leon Ave NE,
      %br
      Atlanta, GA 30307

    %p.body.i.mb2 Accomodations
    %a.secret{ href: 'http://www.thehighlandinn.com/' }
      %h3.subheading.mt0.mb0 The Highland Inn
    %p.body.mt0.mb3
      644 North Highland Avenue NE
      %br
      Atlanta, GA 30306

    %a.secret{ href: 'http://www.ihg.com/holidayinnexpress/hotels/us/en/decatur/atlde/hoteldetail' }
      %h3.subheading.mt0.mb0 Holiday Inn
    %p.body.mt0
      2183 North Decatur Rd
      %br
      Decatur, GA 30033

.row#section-registry
  .col.span1of1.center
    .hr
    %h2.heading Registry
    .hr

.row.align-center
  .col
    %a{ href: 'http://www.crateandbarrel.com/gift-registry/kathy-kettlewell-and-steven-sloan/r5512397' }
      %img.logo{ src: '/assets/images/logos/crate-barrel.png' }
  .col
    %a{ href: 'http://www.target.com/gift-registry/registry/XEuI2PBhSXDcCmUEyvtdKw' }
      %img.logo{ src: '/assets/images/logos/target.png' }
  .col
    %a{ href: 'https://www.newlywish.com/registry/kathy-kettlewell-and-steven-sloan' }
      %img.logo{ src: '/assets/images/logos/newlywish.png' }

.row

.row
.hr
.row
  .col.span1of1.center
    %p.body Photos by <a href="http://lesleykerr.com/">Lesley Kerr</a>


%script{ type: 'text/javascript' }
  :plain
    var today = new Date();
    var wedding = new Date(2016, 7, 20);

    var days_to_wedding = Math.round((wedding - today) * (1/60) * (1/60) * (1/24) * 1/1000);

    var days_to_wedding_div = document.getElementById('days_till_wedding');
    days_to_wedding_div.innerHTML = "in " + days_to_wedding + " days";
